:root {
  --primary-color: rgb(73, 120, 250);
  --secondary-color: rgb(24, 206, 238);
  --tertiary-color: rgb(3, 22, 75);
  --accent-color: rgb(202, 21, 238);
  --side-nav-bg-color: var(--tertiary-color);

  --space-xs: 1rem;
  --space-sm: 2rem;
  --space-md: 3rem;
  --space-lg: 4rem;
  --space-xl: 5rem;

  --font-sans: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-serif: "Playfair Display", Georgia, "Times New Roman", serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
